.row
  .large-8.columns.large-centered
    %h3.subheader Welcome, #{@tweeter.screen_name}
    %hr
    .row
      .large-4.columns.center
        = link_to new_tweet_path do
          .button.round send tweet
      .large-4.columns.center
        = link_to tweeter_grants_path(current_user) do
          .button.secondary.round manage access
      .large-4.columns.center
        = link_to sign_out_path do
          .button.alert.round sign out
    %br
    %br
    %br
    .row
      .large-12.columns
      %h4.subheader Recent Activity
      %hr
      .row
        .large-4.columns
          %h5.subheader Tweets as You:
          - if @tweeter.as_you_tweets.present?
            %ul
              - @tweeter.as_you_tweets.each do |tweet|
                %li.subheader
                  %strong= tweet.tweeter.screen_name
                  = ": " + tweet.body + " "
                  = link_to tweet.created_at.in_time_zone(current_user.timezone).strftime("%D at %H:%M"), tweet.href
          - else
            %p.subheader No one has sent any tweets as you.
        .large-4.columns
          %h5.subheader Tweets by You:
          - if @tweeter.tweets.present?
            %ul
              - @tweeter.tweets.each do |tweet|
                %li.subheader
                  %strong= tweet.tweeter.screen_name
                  = ": " + tweet.body + " "
                  = link_to tweet.created_at.in_time_zone(current_user.timezone).strftime("%D at %H:%M"), tweet.href
          - else
            %p.subheader You haven't sent any tweets through 140x140.
        .large-4.columns
          %h5.subheader Access Grants:
          %ul
            - current_user.grants.each do |grant|
              %li.subheader= link_to grant.grantee.screen_name, [grant.grantee, grant] # tweeter_grant_path(grant.grantee, grant)
